@import "../../styles/variables";

.btn {
  user-select: none;
  -webkit-user-select: none;

  // border: var(--bs-btn-border-width) solid transparent;
  border-radius: 6px !important;
  outline: none !important;
  box-shadow: none !important;

  font-family: $poppins !important;
  font-weight: 600 !important;
  // font-size: 0.8em !important;
  letter-spacing: 0.5px !important;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 0.5rem !important;

  position: relative;
  overflow: hidden;

  svg {
    width: 1.2rem !important;
    height: 1.2rem !important;
  }
}

.btn.btn-primary {
  --bs-btn-bg: var(--primary);

  color: $white;
  border-color: transparent !important;

  svg {
    path {
      fill: #fff !important;
    }
  }
}

.btn.btn-secondary {
  --bs-btn-bg: var(--secondary);

  color: $primary !important;
  // background: $secondary !important;
  border-color: transparent !important;

  &:hover {
    background: $secondary;
    opacity: 0.8;
  }

  svg {
    path {
      fill: $primary !important;
    }
  }
}

.btn.btn-dark {
  background: #313442;
}

.btn.btn-link,
.btn.btn-text {
  color: $primary !important;
  font-weight: 700 !important;
}

.btn.btn-outline-primary {
  // border: var(--bs-btn-border-width) solid $primary !important;
}

.btn.btn-outline-secondary {
  border: var(--bs-btn-border-width) solid $secondary !important;
  color: $secondary !important;
  &:hover {
    background: $secondary;
    opacity: 0.8;
    color: $primary !important;
  }
}
