@import "../../styles/variables";

.btn {
  user-select: none;
  -webkit-user-select: none;

  // padding: 0.5rem 1rem !important;

  border: var(--bs-btn-border-width) solid transparent;
  border-radius: 6px !important;
  outline: none !important;
  box-shadow: none !important;

  font-family: $poppins !important;
  font-weight: 600 !important;
  // font-size: 0.8em !important;
  letter-spacing: 0.5px !important;
  // will-change: filter !important;
  // transition: filter 300ms !important;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 0.5rem !important;

  svg {
    width: 1.2rem !important;
    height: 1.2rem !important;
  }

  // &:hover {
  //   opacity: 0.8;
  //   transition: opacity 300ms linear;
  //   // filter: drop-shadow(0 0 0.1rem #3741ffaa);
  // }

  // &:disabled {
  //   opacity: 0.6;
  // }

  // &:disabled:hover {
  //   filter: none;
  // }
}

.btn.btn-primary {
  --bs-btn-bg: var(--primary);

  color: $white;
  border-color: transparent !important;

  svg {
    path {
      fill: #fff !important;
    }
  }
}

.btn.btn-secondary {
  --bs-btn-bg: var(--secondary);

  color: $primary !important;
  // background: $secondary !important;
  border-color: transparent !important;

  &:hover {
    background: $secondary;
    opacity: 0.8;
  }

  svg {
    path {
      fill: $primary !important;
    }
  }
}

.btn.btn-dark {
  background: #313442;
}

.btn.btn-link,
.btn.btn-text {
  color: $primary !important;
  font-weight: 700 !important;
}

.btn.btn-outline-primary {
  // border: var(--bs-btn-border-width) solid $primary !important;
}

.btn.btn-outline-secondary {
  border: var(--bs-btn-border-width) solid $secondary !important;
  color: $secondary !important;
  &:hover {
    background: $secondary;
    opacity: 0.8;
    color: $primary !important;
  }
}




.rbutton {
  position: relative;
  overflow: hidden;
  transition: background 400ms;
  color: #fff;
  background-color: #6200ee;
  padding: 1rem 2rem;
  font-family: $poppins;
  font-size: 1.5rem;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

span.ripple {
  position: absolute; /* The absolute position we mentioned earlier */
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}