// fonts
$poppins: "Poppins", sans-serif;
$inter: "Inter", sans-serif;
$lato: "Lato", sans-serif;
$allura: "Allura", cursive;
$handlee: "Handlee", cursive;
$kristi: "Kristi", cursive;
$aurore: "La Belle Aurore", cursive;
$reenie: "Reenie Beanie", cursive;
$satisfy: "Satisfy", cursive;
$shadows: "Shadows Into Light Two", cursive;
$zeyada: "Zeyada", cursive;

//
$primary: #061bb0;
$secondary: #f3f5ff;
$white: #fff;
$border: #f4f4f4;

$primary-text: #061bb0;
$secondary-text: #4a5568;
