@import "../../styles/variables";

.markdown-container {
  padding: 2rem;
  color: #fff;
  background: #161723;
  height: 100vh;
  overflow: auto;

  .table-wrapper {
    overflow: auto;
  }

  .code-block {
    position: relative;
    .copy-tool {
      position: absolute;
      display: none;

      top: 1rem;
      right: 1rem;
      border: 1px solid #31445b;
      border-radius: 0.2rem;
      padding: 0.1rem 0.4rem;
      font-family: $poppins;
      font-size: 0.8em;

      svg {
        width: 1.2rem;
        height: 1.6rem;
        path {
          fill: #31445b;
        }
      }

      &.copied {
        color: rgb(173, 219, 103);
        .check-icon {
          path {
            fill: rgb(173, 219, 103);
          }
        }
      }

      &:hover {
        opacity: 0.8;
      }
    }

    &:hover .copy-tool {
      display: flex;
      align-items: center;
      gap: 0.2rem;
    }
  }

  code {
    color: #00ffd0;
  }

  table {
    width: 100% !important;
    tbody,
    thead {
      width: 100% !important;
      min-width: 100% !important;
      max-width: 100% !important;
    }
  }

  .component-preview {
    padding: 2rem 1rem;
    background: #111b27;
    border-radius: 6px;

    &.styles {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}
